@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #BDEEF2;
  --foreground: #990304;
}


body {
  color: var(--foreground);
  background: var(--background);
  font-family: var(--font-montserrat);
}
