@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #cfe2f3;
  --foreground: #980000;
}


body {
  color: var(--foreground);
  background: var(--background);
  font-family: var(--font-montserrat);
}
